# Dependencies
node_modules

# Build outputs
.next
dist
out
storybook-static

# Testing
coverage

# Environment
.env*

# contentlayer
.contentlayer

# TypeScript
*.tsbuildinfo

# Turbo
.turbo

# Vercel
.vercel

# Debug
.pnpm-debug.log*
*storybook.log

# OS
.DS_Store
