# Dependencies
node_modules

# Build outputs
dist
/.next/
/out/
/build

# Testing
coverage

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Package
pnpm-lock.yaml

# Environment
.env*

# Version Control
.changeset

# Development
.turbo
**/*.hbs
.vercel

# Debug
.pnpm-debug.log*
