@custom-variant dark (&:where(.dark, .dark *), &:where([data-theme='dark'], [data-theme='dark'] *));

@theme {
  --color-hiko-red-50: #fadcd6;
  --color-hiko-red-100: #f2baae;
  --color-hiko-red-200: #e79888;
  --color-hiko-red-300: #c95340;
  --color-hiko-red-400: #b6291e;
  --color-hiko-red-500: #96261b;
  --color-hiko-red-600: #772217;
  --color-hiko-red-800: #5a1d14;
  --color-hiko-red-900: #3e170f;
  --color-hiko-red-950: #241008;
  --color-hiko-blue-50: #e4e6fb;
  --color-hiko-blue-100: #c7cef6;
  --color-hiko-blue-200: #aab7f2;
  --color-hiko-blue-300: #8ba0ed;
  --color-hiko-blue-400: #668ae7;
  --color-hiko-blue-500: #3375e2;
  --color-hiko-blue-600: #3061b8;
  --color-hiko-blue-800: #263a6b;
  --color-hiko-blue-900: #1e2847;
  --color-hiko-blue-950: #141826;
  --color-hiko-green-50: #deeade;
  --color-hiko-green-100: #bdd5be;
  --color-hiko-green-200: #9dc09e;
  --color-hiko-green-300: #7dac80;
  --color-hiko-green-400: #5d9762;
  --color-hiko-green-500: #3a8345;
  --color-hiko-green-600: #2a5630;
  --color-hiko-green-700: #2a5630;
  --color-hiko-green-800: #224125;
  --color-hiko-green-900: #1a2d1b;
  --color-hiko-green-950: #111a11;
  --color-hiko-yellow-50: #fffae4;
  --color-hiko-yellow-100: #fff5c9;
  --color-hiko-yellow-200: #fff0ad;
  --color-hiko-yellow-300: #fce77b;
  --color-hiko-yellow-500: #cdbc66;
  --color-hiko-yellow-600: #a89a55;
  --color-hiko-yellow-700: #847944;
  --color-hiko-yellow-800: #625a34;
  --color-hiko-yellow-900: #423c25;
  --color-hiko-yellow-950: #242116;
  --color-hiko-purple-50: #f3f0fc;
  --color-hiko-purple-100: #e8e1f8;
  --color-hiko-purple-200: #dcd2f5;
  --color-hiko-purple-300: #d0c4f1;
  --color-hiko-purple-400: #c3b5ee;
  --color-hiko-purple-500: #b7a7ea;
  --color-hiko-purple-600: #9689bf;
  --color-hiko-purple-700: #766c95;
  --color-hiko-purple-800: #58516e;
  --color-hiko-purple-900: #3b3749;
  --color-hiko-purple-950: #211e27;
  --color-hiko-orange-50: #ffebdc;
  --color-hiko-orange-100: #fdd7ba;
  --color-hiko-orange-200: #f9c398;
  --color-hiko-orange-300: #f3af77;
  --color-hiko-orange-400: #eb9c56;
  --color-hiko-orange-500: #e28933;
  --color-hiko-orange-600: #925a26;
  --color-hiko-orange-700: #925a26;
  --color-hiko-orange-800: #6c431f;
  --color-hiko-orange-900: #482e18;
  --color-hiko-orange-950: #271b0f;
  --color-hiko-neutral-50: #fcfcfc;
  --color-hiko-neutral-100: #fafafa;
  --color-hiko-neutral-200: #f7f7f7;
  --color-hiko-neutral-300: #f3f3f2;
  --color-hiko-neutral-400: #ebebea;
  --color-hiko-neutral-500: #c6c6c5;
  --color-hiko-neutral-600: #a2a2a1;
  --color-hiko-neutral-700: #7f7f7f;
  --color-hiko-neutral-800: #5e5e5e;
  --color-hiko-neutral-900: #3f3f3f;
  --color-hiko-neutral-950: #222222;
  --color-hiko-layout-foreground: var(--color-hiko-neutral-950);
  --color-hiko-layout-background: var(--color-hiko-neutral-50);
  --color-hiko-layout-divider: var(--color-hiko-neutral-500);
}

.dark,
[data-theme="dark"] {
  --color-hiko-neutral-50: #222222;
  --color-hiko-neutral-100: #3f3f3f;
  --color-hiko-neutral-200: #5e5e5e;
  --color-hiko-neutral-300: #7f7f7f;
  --color-hiko-neutral-400: #a2a2a1;
  --color-hiko-neutral-500: #c6c6c5;
  --color-hiko-neutral-600: #ebebea;
  --color-hiko-neutral-700: #f3f3f2;
  --color-hiko-neutral-800: #f7f7f7;
  --color-hiko-neutral-900: #fafafa;
  --color-hiko-neutral-950: #fcfcfc;
  --color-hiko-layout-foreground: var(--color-hiko-neutral-50);
  --color-hiko-layout-background: var(--color-hiko-neutral-950);
  --color-hiko-layout-divider: var(--color-hiko-neutral-200);
}
