@mixin blue {
  --color-hiko-blue-50: oklch(92.96% 0.0312 279.8875deg);
  --color-hiko-blue-100: oklch(85.81% 0.0643 278.1814deg);
  --color-hiko-blue-200: oklch(78.81% 0.098 275.5888deg);
  --color-hiko-blue-300: oklch(71.76% 0.1314 271.2127deg);
  --color-hiko-blue-400: oklch(64.56% 0.1678 265.8944deg);
  --color-hiko-blue-500: oklch(57.48% 0.2084 257.5126deg);
  --color-hiko-blue-600: oklch(50.21% 0.173 259.2031deg);
  --color-hiko-blue-700: oklch(42.91% 0.1366 261.1279deg);
  --color-hiko-blue-800: oklch(35.75% 0.1016 263.9061deg);
  --color-hiko-blue-900: oklch(28.51% 0.0667 266.829deg);
  --color-hiko-blue-950: oklch(21.07% 0.034 275.4641deg);
}
