@mixin blue {
  --color-hiko-blue-50: oklch(0.9296 0.0312 279.8875);
  --color-hiko-blue-100: oklch(0.8581 0.0643 278.1814);
  --color-hiko-blue-200: oklch(0.7881 0.098 275.5888);
  --color-hiko-blue-300: oklch(0.7176 0.1314 271.2127);
  --color-hiko-blue-400: oklch(0.6456 0.1678 265.8944);
  --color-hiko-blue-500: oklch(0.5748 0.2084 257.5126);
  --color-hiko-blue-600: oklch(0.5021 0.173 259.2031);
  --color-hiko-blue-700: oklch(0.4291 0.1366 261.1279);
  --color-hiko-blue-800: oklch(0.3575 0.1016 263.9061);
  --color-hiko-blue-900: oklch(0.2851 0.0667 266.829);
  --color-hiko-blue-950: oklch(0.2107 0.034 275.4641);
}
