@mixin green {
  --color-hiko-green-50: oklch(0.9417 0.0191 162.8184);
  --color-hiko-green-100: oklch(0.8834 0.0385 162.25);
  --color-hiko-green-200: oklch(0.8257 0.0572 160.9618);
  --color-hiko-green-300: oklch(0.7676 0.0757 162.1898);
  --color-hiko-green-400: oklch(0.7101 0.0941 161.531);
  --color-hiko-green-500: oklch(0.6527 0.1121 161.4253);
  --color-hiko-green-600: oklch(0.5655 0.0929 161.8711);
  --color-hiko-green-700: oklch(0.481 0.0751 161.0821);
  --color-hiko-green-800: oklch(0.3957 0.0563 161.6728);
  --color-hiko-green-900: oklch(0.3089 0.0373 161.3789);
  --color-hiko-green-950: oklch(0.2226 0.0185 164.9953);
}
