@mixin green {
  --color-hiko-green-50: oklch(94.17% 0.0191 162.8184deg);
  --color-hiko-green-100: oklch(88.34% 0.0385 162.25deg);
  --color-hiko-green-200: oklch(82.57% 0.0572 160.9618deg);
  --color-hiko-green-300: oklch(76.76% 0.0757 162.1898deg);
  --color-hiko-green-400: oklch(71.01% 0.0941 161.531deg);
  --color-hiko-green-500: oklch(65.27% 0.1121 161.4253deg);
  --color-hiko-green-600: oklch(56.55% 0.0929 161.8711deg);
  --color-hiko-green-700: oklch(48.1% 0.0751 161.0821deg);
  --color-hiko-green-800: oklch(39.57% 0.0563 161.6728deg);
  --color-hiko-green-900: oklch(30.89% 0.0373 161.3789deg);
  --color-hiko-green-950: oklch(22.26% 0.0185 164.9953deg);
}
