@mixin purple {
  --color-hiko-purple-50: oklch(92.2% 0.0444 307.292deg);
  --color-hiko-purple-100: oklch(84.64% 0.0888 306.2296deg);
  --color-hiko-purple-200: oklch(76.98% 0.1319 304.4369deg);
  --color-hiko-purple-300: oklch(69.35% 0.174 301.8472deg);
  --color-hiko-purple-400: oklch(61.62% 0.2128 298.2644deg);
  --color-hiko-purple-500: oklch(54.13% 0.2466 293.0166deg);
  --color-hiko-purple-600: oklch(47.36% 0.2068 294.2796deg);
  --color-hiko-purple-700: oklch(40.57% 0.167 295.6109deg);
  --color-hiko-purple-800: oklch(33.95% 0.1279 297.3614deg);
  --color-hiko-purple-900: oklch(27.2% 0.0861 299.9161deg);
  --color-hiko-purple-950: oklch(20.28% 0.0444 303.6742deg);
}
