@mixin purple {
  --color-hiko-purple-50: oklch(0.922 0.0444 307.292);
  --color-hiko-purple-100: oklch(0.8464 0.0888 306.2296);
  --color-hiko-purple-200: oklch(0.7698 0.1319 304.4369);
  --color-hiko-purple-300: oklch(0.6935 0.174 301.8472);
  --color-hiko-purple-400: oklch(0.6162 0.2128 298.2644);
  --color-hiko-purple-500: oklch(0.5413 0.2466 293.0166);
  --color-hiko-purple-600: oklch(0.4736 0.2068 294.2796);
  --color-hiko-purple-700: oklch(0.4057 0.167 295.6109);
  --color-hiko-purple-800: oklch(0.3395 0.1279 297.3614);
  --color-hiko-purple-900: oklch(0.272 0.0861 299.9161);
  --color-hiko-purple-950: oklch(0.2028 0.0444 303.6742);
}
