@mixin red {
  --color-hiko-red-50: oklch(92.36% 0.0325 24.8442deg);
  --color-hiko-red-100: oklch(84.74% 0.0653 24.4148deg);
  --color-hiko-red-200: oklch(76.87% 0.0982 24.2508deg);
  --color-hiko-red-300: oklch(69.21% 0.1275 23.8447deg);
  --color-hiko-red-400: oklch(61.64% 0.1575 23.3221deg);
  --color-hiko-red-500: oklch(53.91% 0.1856 22.5747deg);
  --color-hiko-red-600: oklch(47.14% 0.1548 22.9231deg);
  --color-hiko-red-700: oklch(40.49% 0.125 22.9517deg);
  --color-hiko-red-800: oklch(33.87% 0.0937 23.5411deg);
  --color-hiko-red-900: oklch(27.16% 0.0643 23.7044deg);
  --color-hiko-red-950: oklch(20.43% 0.0327 29.7699deg);
}
