# Dependencies
node_modules

# Build outputs
.next
out
build

# Environment
.env*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Turbo
.turbo

# Vercel
.vercel

# Debug
.pnpm-debug.log*

# OS
.DS_Store
