@use "./themes/light.scss" as light;
@use "./themes/dark.scss" as dark;

@custom-variant dark (&:where(.dark, .dark *), &:where([data-theme='dark'], [data-theme='dark'] *));

@theme {
  @include light.light-theme;

  // Text Colors
  --color-palette-primary-text: var(--color-hiko-black);
  --color-palette-secondary-text: var(--color-hiko-neutral-700);
  --color-palette-tertiary-text: var(--color-hiko-neutral-500);
  --color-palette-success-text: var(--color-hiko-green-600);
  --color-palette-warning-text: var(--color-hiko-yellow-600);
  --color-palette-danger-text: var(--color-hiko-red-600);
  --color-palette-info-text: var(--color-hiko-blue-600);
  --color-palette-muted-text: var(--color-hiko-neutral-300);

  // Links Colors
  --color-palette-foreground-link: var(--color-hiko-neutral-950);
  --color-palette-primary-link: var(--color-hiko-blue-500);
  --color-palette-secondary-link: var(--color-hiko-black);
  --color-palette-success-link: var(--color-hiko-green-600);
  --color-palette-warning-link: var(--color-hiko-yellow-600);
  --color-palette-danger-link: var(--color-hiko-red-600);
  --color-palette-info-link: var(--color-hiko-blue-600);
  --color-palette-muted-link: var(--color-hiko-neutral-300);
}

.dark {
  @include dark.dark-theme;
}

[data-theme="dark"] {
  @include dark.dark-theme;
}
