@use "sass:map";

$semantic-colors: (
  "light": (
    "background": (
      base: "oklch(1 0 0)",
    ),
    "foreground": (
      base: "oklch(0 0 0)",
    ),
    "divider": (
      base: "oklch(0.9 0 0)",
    ),
  ),
  "dark": (
    "background": (
      base: "oklch(0 0 0)",
    ),
    "foreground": (
      base: "oklch(1 0 0)",
    ),
    "divider": (
      base: "oklch(0.9 0 0)",
    ),
  ),
) !default;
