@import "tailwindcss";
@import "@hikoui-beta/theme";

@plugin "@tailwindcss/typography";

@source "../../node_modules/@hikoui-beta/react";

body {
  @apply bg-background text-content;
}

a {
  @apply transition-colors duration-200;
}

.layout-container {
  @apply mx-auto w-full max-w-screen-xl overflow-visible px-4;
}

.prose {
  --tw-prose-body: var(--color-content-soft);
  --tw-prose-headings: var(--color-content);
  --tw-prose-lead: var(--color-content-quiet);
  --tw-prose-links: var(--color-content);
  --tw-prose-bold: var(--color-content);
  --tw-prose-counters: var(--color-content-quiet);
  --tw-prose-bullets: var(--color-content-quiet);
  --tw-prose-hr: var(--color-divider);
  --tw-prose-quotes: var(--color-content);
  --tw-prose-quote-borders: var(--color-divider);
  --tw-prose-captions: var(--color-content-quiet);
  --tw-prose-code: var(--color-content-soft);
  --tw-prose-pre-code: var(--color-neutral-50);
  --tw-prose-pre-bg: var(--color-neutral-900);
  --tw-prose-th-borders: var(--color-divider);
  --tw-prose-td-borders: var(--color-divider-soft);

  @apply max-w-none scroll-mt-24;
}
