@use "../utils" as utils;

$button-vars: (
  default: (
    bg: var(--color-hiko-black-contrast),
    border: var(--color-hiko-black-contrast),
    color: var(--color-hiko-white-contrast),
  ),
  primary: (
    bg: var(--color-hiko-blue-500),
    border: var(--color-hiko-blue-500),
    color: var(--color-hiko-white-base),
  ),
  secondary: (
    bg: var(--color-hiko-purple-500),
    border: var(--color-hiko-purple-500),
    color: var(--color-hiko-white-base),
  ),
  success: (
    bg: var(--color-hiko-green-500),
    border: var(--color-hiko-green-500),
    color: var(--color-hiko-white-base),
  ),
  warning: (
    bg: var(--color-hiko-yellow-500),
    border: var(--color-hiko-yellow-500),
    color: var(--color-hiko-white-base),
  ),
  danger: (
    bg: var(--color-hiko-red-500),
    border: var(--color-hiko-red-500),
    color: var(--color-hiko-white-base),
  ),
  info: (
    bg: var(--color-hiko-blue-500),
    border: var(--color-hiko-blue-500),
    color: var(--color-hiko-white-base),
  ),
) !default;

@mixin button {
  @include utils.create-component-vars($button-vars, "color", "component-button");
}
