@use "../utils" as utils;

$button-vars: (
  primary: (
    background: var(--color-hiko-blue-500),
    text: var(--color-hiko-neutral-50),
  ),
  secondary: (
    background: var(--color-hiko-red-500),
    text: var(--color-hiko-neutral-50),
  ),
) !default;

@mixin button {
  @include utils.create-component-vars($button-vars, "button");
}
